<section class="w-full max-w-full bg-[#211C24]">
  <div class="banner-container flex">
    <div class="w-3/5 flex flex-col items-start justify-center px-35">
      <span class="text-[#7A777C] text-2xl">Pro.Beyond.</span>
      <h1 class="text-white text-8xl font-[100]! font-sans">IPhone 14 <span class="font-semibold">Pro</span></h1>
      <p class="text-[#7A777C] text-lg mt-3">Created to change everything for the better. For everyone</p>

      <button class="text-white py-3 px-10 border solid border-white mt-5 rounded-md cursor-pointer">Shop Now</button>

    </div>
    <div class="w-2/5">
      <img src="assets/imgs/Iphone1.svg" alt="">
    </div>
  </div>
</section>