<footer class="bg-[#000000] text-white p-20 flex flex-col justify-center">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="space-y-4">
      <h2 class="text-2xl font-bold">
        <img src="assets/imgs/logo-white.svg" alt="">
      </h2>
      <p class="text-gray-400">We are a residential interior design firm located in Portland. Our boutique-studio offers more than</p>
      <!-- <div class="flex space-x-4">
        <a href="#" aria-label="Twitter" class="text-gray-400 hover:text-white"><i class="fab fa-twitter"></i></a>
        <a href="#" aria-label="Facebook" class="text-gray-400 hover:text-white"><i class="fab fa-facebook-f"></i></a>
        <a href="#" aria-label="TikTok" class="text-gray-400 hover:text-white"><i class="fab fa-tiktok"></i></a>
        <a href="#" aria-label="Instagram" class="text-gray-400 hover:text-white"><i class="fab fa-instagram"></i></a>
      </div> -->
    </div>
    <div class="ms-15">
      <h3 class="text-lg font-semibold mb-4">Services</h3>
      <ul class="space-y-2">
        <li><a href="#" class="text-gray-400 hover:text-white">Bonus program</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Gift cards</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Credit and payment</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Service contracts</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Non-cash account</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Payment</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold mb-4 ">Assistance to the buyer</h3>
      <ul class="space-y-2">
        <li><a href="#" class="text-gray-400 hover:text-white">Find an order</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Terms of delivery</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Exchange and return of goods</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Guarantee</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Frequently asked questions</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white">Terms of use of the site</a></li>
      </ul>
    </div>
  </div>
  <div class="flex gap-8">
    <img src="assets/imgs/Twitter.svg" alt="">
    <img src="assets/imgs/Facebook.svg" alt="">
    <img src="assets/imgs/Tiktok.svg" alt="">
    <img src="assets/imgs/Instagram.svg" alt="">
  </div>
</footer>
